# do not install anything extra onto the image
language: generic

# use a Mac OSX image
os: osx

# only run builds on pushes to the master branch
branches:
  only:
  - master

# send email notifications when the build changes from succeeding to broken
notifications:
  email:
    on_success: never
    on_failure: change

# decrypt the encrypted SSH key file so it can be used for scp auth in post_build.sh
before_install:
- openssl aes-256-cbc -k "$KEYFILE_PASS" -in "${UPLOAD_KEYPATH}.enc" -out "${UPLOAD_KEYPATH}" -d

# run the script to download and install Unity editor
install:
- sudo -E sh ./Scripts/install.sh

# run the script for unit tests and builds
script:
- sudo -E sh ./Scripts/build.sh

# run the script to upload the builds as tarballs
after_success:
- sudo -E sh ./Scripts/post_build.sh

# environment variables used in bash scripts
env:
  global:
  - UNITYCI_PROJECT_NAME="UnityProject"
  - UPLOAD_KEYPATH="./Scripts/upload"
  - secure: EP/gYRGlPuoIftQrhEVhAuis44jsntK4qV76x4egPZuf1ddbJw8RnwRxXslqh2WNFqS8O3Hy1BJXVCSMDzWdyaRDdrVK4z9s/kA0qPBt2LUjQpSd4LAgSXD55hxiAbG8sB3Hzhrz5fgh+CJZ87vdoz4lVZLIerdkKOyouM7UfM9A79YLjZYpa2F3E94iMC+TYtdFS3m+ztZZQTWsA/0VwejX4+xeJuA60y8ZIUeyLNaMsSqsaVMWMX7xOpfw1DYT7v4cg01OBE9g1x+t0xOY+e8Ttc6crX2LhR90BXx22wkNXCKOQfy/trnghP/iepL7YQci0loizGskzlc1hVJ+qDbLq5rSgyMS8fGovKjWuV8ln8ppucnmLvCGeqmRJiYJTvW/A4ktTDxcUBbO4Utv/BliIbkS9qEKhQ6aPQHsDOQUZbrBOTCKumoGpEC8KWslCD270BNDOM8NRLl7MSH01LQAzWEuAywa426BJicagAPlzAxqbQYsWI0cQHHObxraQaVtNJ+AiDlxfJcgZlA6GtL35/BLha4121Rm4+6METxPsybY3Tt/7fHDkkyHHnF26ntdJxMLAv9JT6fwAokjsNOZqmAZ/mxsy5DPMkvhSt8P5Y7NRFXRhKYNI4+YBtTEOAlCVZm2PXuJ87pecZb4xLGpOGB5vavvNLp3gJsAyLA=
  - secure: CU4mT7MvIaJChil20h4GN87UAU4Rb9DXYYPRotcS0A8HB6t1ew/RCIQYPyEtmGjcVRPPownvDtYO1lS4fzzJv+xlZY09UyuoXRH3TlemSzl3KYeEQg+lNond6NUTamZ34hzfNHp1sPd8w9oQyTiz4tJ8dPbIlzvzJ811b64b2yluNu3jp7VL4GYs0f3ND2xfV2DOJRxpFlsdYoCyfjPjWUTU7xHQ59/hzeSjw6YQ+e4i1Tme0GeXkbJMce33Mh1HW/xONs0Ys/lo/pYc/PnKtaR1vNNV9DcLtECyFK8KzyoPj4lcQMTa5xagbb55W74vs38rD2WkCim41WWyid7flIZGiura4/TBCF3H0rDk6SU1h5X2zsV0H7LWI7PD3ywQgg6jSid5T09f2glHOueGyUDRY3vASXAPdxutGl2af+fQ4mInX+EwIxgYmxMZz9iT7XfLC7asAJZ6DlvFTrhdO85B3Djl3iXVU6adpO/zY6BPFOaybGVuzBsfJAO1XcWkAl13F/keBVj15F4+iMDyvIUrqYtAoxGXAHSghXhNMq6IvGdsWSM7aq5GCt4C8bFVDXvCh6JFJAsaiKDo3YkKSKFaMnHa8C3WwUfikQ1UBw4skLYXmGpDGcX2SJjMOvmLTMBAaEu6APuPhi4KKCmtM+DB8WRjal7Iz8GLBxRb9n8=
  - secure: ooThFdJ6ecU3W3oEAc5vGXyxqxVvURz2B955PrQeAG07ie22cBe/3t4u/cmK9N0+LdvPGWHOvumOXycIs9GzqkMm2ag1NHxLBHGkbYTIIa1GbN1YJ+aHkfXsQb01dTAc08lMFeEEEi5gAOOonISXMVKJRjLlQUit1A1YlYx4b9d+bj+xHehC+pSnenNwpu26+IiD5SLqZHSsYJVWT40T+I26w74Gcz1QGBjSZReYG2Cezpk/1iS9ije/w/sSTrbJmhMdP91/IMyU2cTlHYB7u1kd2+vNbmIZQYqCaQhdVg+xoJGoHpdeEOv2zloPdS/vpxUFV7Uiz6z8Ao825dwlFsG7bNj6yQqBS/+Qvi6lSGf4gNh4msm63lat/rCBv7U8eVbv5+n6E/+AkjmMBJjKXvYNDryKMCyNXbyQFGzwYcK0DJNlP1By09ULQpv07Qbz4kP31VMInrRtBgG8oEQ7B6itO+HKr/d8ojKe9vdKyJXcViFWHDOAeM9Nyobm5FqGxmGn1OOqdEdqNfYsSo2iQXK8GMb5rrG6TEVWiukikRU4XlLLPKq8O7YqCHVcT7FzjTkIpPiQz2U5uQv9Snr2SVc2Mi6x4WwF4XTTC6d/amJUmU9W56ZprxlF3705abbK2/jkFh6dxskeOFCPrZ1Ci3Ruhni7r4A1ajAoCD4ApGk=
  - secure: itkY1knC+GYW+/7AShceWID77OAZ2Na0oGG+PHbjDCCy12EvMgx6TYUhi9mQD/qe5z3lhITWKG4CrvLVCf++ovDX8IKkv0RxUbltEKjbva+fX85OogHFGiZGgqx4fHO1o5+ooHtXR7nLcWkrIP9ojWAVGv5l08NZC/TUa4dy3TWAaEdUcJ704XLx8cUDinxRzyDR4w2i1yXUZ7pWY/vHpufv7+6frX+uSPX7cwxvcPGWQ2GrtDqjIFs/4DMO0OHx4fbRKuERH64wNPCZI5bFkQD/WHvLlGRXTvcMDLUehjj5H8HgfBfxYznfm6St2WnysZgbzcWKhS8ALb16xHixrrzgyTJO2CgMoSt4xTlJsP8js1PNZ1FxfRIH9LKwYu7WoUZRiytt5EnK5lJNP96lIzSa9Z95FCX+vkGnmnb0maXaRURAbOSqNtT1GaWSpK2jozKDceNbDofIFTiIhSgvMYXMJdEAbmYIIK/33YgvPyl/ig5wM7Ud/qeFM/Tm9h+ASDGkoW7BUfT07xj6xoIweTMAkQ2TyaybQZBJAuQOSyDlgtrWhWJJ6TnPqP08w2V0qRh1S4mT3ac3IDsUEHArjmMFnVUD8pR2QJSJ3vLaXPpt+9t/JDifbId4NEjuWlcscmQxunHm1ged2XXMX4bamnoDiKPR+xbyc+n6el9Q+0w=
